option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
