option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:elasticbeanstalk:environment:process:default:
    Port: 8080
    Protocol: HTTP
    HealthCheckPath: /
    MatcherHTTPCode: 200-399
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSizeType: Fixed
    BatchSize: 1
    Timeout: 600
